html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
  } */

/* .slider {
  position: relative;
  margin: auto;
  text-align: center;
  width: 80%;
  height:540px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
background: rgba(181, 158, 243, 0.15);
box-shadow: 0px 0.76079px 30.43146px 0px rgba(227, 222, 255, 0.20) inset, 0px 3.04315px 13.69416px 0px rgba(154, 146, 210, 0.30) inset, 0px 74.55707px 76.07865px 0px rgba(202, 172, 255, 0.30) inset, 0px -62.38448px 51.73348px 0px rgba(96, 68, 144, 0.30) inset, 0px 5.3255px 8.36865px 0px #FFF inset, 0px 29.67067px 42.60403px 0px rgba(255, 255, 255, 0.50) inset;
backdrop-filter: blur(38.03932571411133px);
} */

.slider {
    position: relative;
    margin: auto;
    text-align: center;
    /* width: 40vw; */
    /* height: 540px; */
    border-radius: 50px;
    box-shadow: 0px 0.76079px 30.43146px 0px rgba(227, 222, 255, 0.20) inset, 0px 3.04315px 13.69416px 0px rgba(154, 146, 210, 0.30) inset, 0px 74.55707px 76.07865px 0px rgba(202, 172, 255, 0.30) inset, 0px -62.38448px 51.73348px 0px rgba(96, 68, 144, 0.30) inset, 0px 5.3255px 8.36865px 0px #FFF inset, 0px 29.67067px 42.60403px 0px rgba(255, 255, 255, 0.50) inset;
    backdrop-filter: blur(38.03932571411133px);
    background: rgba(181, 158, 243, 0.15); /* Apply opacity to the background */
  }
  
  
  /* Rest of your CSS */
  

.slider-controls {
  position: absolute;
  bottom: 0px;
  top: 530px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translatex(-50%);
  z-index: 500;
  list-style: none;
  text-align: center;
}

.slider input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFF;
  transition: background-color 0.2s linear;
  margin-left: 10px;

}

#btn-1:checked ~ .slider-controls label[for="btn-1"] {
  background-color: #FAF51C;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #FAF51C;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #FAF51C;
}

/* SLIDES */

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 85vw;
  margin: auto;
  text-align: center;
  /* margin-left: 40px; */
  height: 540px;

  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
}



/* .slide-title {
    margin-bottom: 20px;
    font-size: 36px;
  } */
/*   
  .slide-text {
    margin-bottom: 20px;
  }
   */
.slide-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  /* background-color: #FAF51C; */
}


/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  100% {
    transform: translatex(100%);
  }
}
